<h3>Comments</h3>

<br><br>
<table class="table">

      <thead class="thead-light">
         <tr>
             <th scope="col">작성번호</th>
             <th scope="col">작성자</th>
             <th scope="col">사진</th>
             <th scope="col">내용</th>
         </tr>
      </thead>

      <tbody>
        {% for comment in post.comment_set.all %}
        <tr>
            <th scope="row"> {{ comment.pk }} </th>

            <td>{{ comment.user }}</td>

          {% if comment.image %}

            <td><img src="{{ comment.image.url }}" width="50" ></td>
          {% else %}
            <td>no image here</td>
          {% endif %}

          <td>{{ comment.content|truncatechars:20 }}</td>

         </tr>
        {% endfor %}
      </tbody>
    </table>